.resume-text-body {
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.resume-block {
  margin-top: 10vh;
}

.resume-title {
  font-size: x-large;
}

.resume-subtitle {
  color: #ab6d76;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
