.portfolio-link {
  color: #e0e0e0;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.technology-list {
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.portfolio-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #e0e0e0;
  font-size: larger;
}
