.portfolio-link {
  color: #000000;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

.technology-list {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.portfolio-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: larger;
}

.portfolio-body {
  margin-top: 2vh;
}

.portfolio-img {
  margin-top: 2vh;
  border: 1px solid #000000;
}
