.contacts-title {
  font-size: 7vh;
  color: #000000;
}

.contact-btn {
  margin-top: 2vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2vh;
  text-transform: uppercase;
  background-color: #efefef;
  border: 1px solid #ab2537fa;
  color: #000000;
}

.contacts {
  list-style-type: none;
}
